@font-face {
  font-family: 'icofont';
  src: url('../fonts/icofont.eot?v=1.0.0-beta');
  src: url('../fonts/icofont.eot?v=1.0.0-beta#iefix') format('embedded-opentype'), url('../fonts/icofont.ttf?v=1.0.0-beta') format('truetype'), url('../fonts/icofont.woff?v=1.0.0-beta') format('woff'), url('../fonts/icofont.svg?v=1.0.0-beta#icofont') format('svg');
  font-weight: normal;
  font-style: normal;
}

.portfolio_block .portfolio_pic {
  /*ZoomIn Hover-Mask Effect*/
  font-family: 'Poppins', sans-serif;
}
.portfolio_block .portfolio_pic .hover-mask a {
  display: block;
  position: relative;
  overflow: hidden;
}
.portfolio_block .portfolio_pic .hover-mask a h2 {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: rgba(153, 205, 78, 0.5);
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
}
.portfolio_block .portfolio_pic .hover-mask img {
  width: 100%;
  height: auto;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.portfolio_block .portfolio_description {
  color: inherit;
  line-height: 30px;
  margin-bottom: 30px;
}
.portfolio_block .portfolio_menu {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 25px;
}
.portfolio_block .portfolio_menu li {
  margin-bottom: 3px;
  padding-right: 25px;
}
.portfolio_block .portfolio_menu li a {
  font-size: 16px;
  font-family: "Inconsolata", Helvetica, Arial, sans-serif !important;
  color: inherit;
  -webkit-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
  position: relative;
}
.portfolio_block .portfolio_menu li a:after {
  content: "";
  position: absolute;
  width: 8px;
  height: 2px;
  background: inherit;
  bottom: 0px;
  right: -8px;
  opacity: 0;
  transition: background 0.15s;
}
.portfolio_block .portfolio_menu li a:hover:after,
.portfolio_block .portfolio_menu li a:active:after {
  opacity: 1;
  background: #99cd4e;
}
.portfolio_block .portfolio_menu li a:hover,
.portfolio_block .portfolio_menu li a:focus,
.portfolio_block .portfolio_menu li a:active,
.portfolio_block .portfolio_menu li a.active {
  text-decoration: none;
  color: #99cd4e;
}

.portfolio_link {
  display: flex;
  font-family: 'Poppins', sans-serif;
  color: #00848B;
  text-decoration: underline;
  font-weight: bold;
  line-height: 24px;
  text-align: right;
  font-size: 18px;
}

.right {
  margin-left: 10px;
}

.left {
  margin-right: 10px;
}

.portfolio_link:hover {
  color: #00bac4;
}

.portfolio_block .portfolio_stack {
  color: #343434;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
}
.portfolio_block .portfolio_stack p {
  margin-bottom: 15px;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
}
.portfolio_block .portfolio_stack ul {
  margin-top: 6.25px;
  font-size: 15px;
  margin-left: 0px !important;
  margin-bottom: 25px;
}
.portfolio_block .portfolio_stack ul li {
  background-color: #ffffff;
  color: inherit;
  padding: 5px 15px;
  margin-right: 5px;
  -webkit-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.14);
  margin-bottom: 10px;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}
.portfolio_block .portfolio_title {
  margin-top: 40px;
  margin-bottom: 17px;
  margin-top: 25px;
  line-height: 32px;
  font-size: 20px;
}

.portfolio_block .portfolio_items .item {
  margin-bottom: 50px;
  position: relative;
}
.portfolio_block .portfolio_items .item__bg {
  content: "";
  position: absolute;
  background: #f7f7f7;
  top: 0;
  left: 15px;
  right: 15px;
  bottom: 0;
  opacity: 0;
}
@media screen and (min-width: 768px) {
  .portfolio_block .portfolio_items .item__bg {
    opacity: 1;
  }
}
.portfolio_block .portfolio_items .item:last-child {
  margin-bottom: 0px;
}
.portfolio_block .portfolio_items .portfolio_details h3 {
  font-weight: bold;
}
